#container {
	margin-bottom:30px;
}


.highlight {
	margin-top:10px;
	background:#eee;
	padding:15px;
	font-family:menlo, inconsolata, monaco, monospace;
	line-height:1.8;
}

code {
	font-family:menlo, inconsolata, manaco, monospace;
}

p code:before {
	content:' ';
}

p code:after {
	content:' ';
}




#team {
	list-style:none;
	margin:20px 0 0;
	padding:0;
}

	#team li {
		display:inline-block;
		width:48%;
		border-bottom:1px solid #ccc;
		padding-bottom:15px;
	}

		#team li img {
			float:left;
			margin-bottom:10px;
		}
		
		#team li p {
			clear:both;
		}
	
		#team li h3 {
			margin:0;
		}

		#team li h4 {
			margin:0;
		}

	#team ul {
		margin:0;
		padding:0;
		list-style:disc;
		width:135px;
		float:right;
	}

		#team ul li {
			border:none;
			width:auto;
			list-style-type:disc;
			display:block;
			padding:0;
		}

		#team ul li.interests {
			font-size:1.3em;
			font-weight:bold;
			line-height:1.6;
		}





































